# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        branche: ['1', '2','3','4','5','6','7','8','9','10' ]
        bran: [ '1', '2', '3', '4' ]
      fail-fast: false
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - run: docker network create mynet
      - name: libretranslate
        run: docker run -d -p 5000:5000  --net mynet --name libretranslate tygozwolle/libretranslate-withmodels
      
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
    # Password or personal access token used to log against the Docker registry
            password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: run
        run: docker run -d --net mynet --name runner -e MAIN_SERVER_ADDRESS=${{ secrets.ULR }}  -e LIBRE_TRANSLATE_ADDRESS=http://libretranslate:5000  ${{ secrets.CONTAINER }} 
      - run: sleep 360
     
          
